<div class="cp-user-list-item">
  <h3><%= link_to babysitter.full_name, babysitter %></h3>
  <p>
    <%= babysitter.location %>
  </p>
  <p>
    <%= babysitter.description %>
  </p>
  <p>
    <%= link_to 'Learn more', babysitter %>
  </p>
</div>
