<div class="row">
  <h1>Users</h1>


  <%= debug @users %>

  <% if @users.count > 0 %>
    <% @users.each do |user| %>
      <div class="user-list-item">
        <h2><%= user.full_name %></h2>
      </div>
    <% end %>
  <% else %>
    <div class="well">
      Sorry, we couldn't find any users.
    </div>
  <% end %>
</div>