<div class="jumbotron">
  <div class="container">
    <h1>Find a Babysitter</h1>
  </div>
</div>
<div class="home-content">
  <%= current_user ? (link_to 'View your dashboard', dashboard_path, class: 'btn btn-primary') : '' %>
</div>